<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheckU</title>

    <link rel="stylesheet" href="../../style/style.css">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

<div class="container">

    <header>
        <img src="/check_u/frontend/public/icons/checku_logo.png" alt="Logo" class="logo">
        <h2>Buenos días/tardes/noches <span>Nombre_Aspirante</span></h2>
    </header>

    <section class="cards">

        <div class="estado">

            <div class="icono">
                <i class="fa-solid fa-circle-info"></i>
            </div>

            <div>

                <p>Estado de aplicación</p>
                <h2>estado_actual</h2>

                <p>Programa inscrito</p>
                <h3>programa_inscrito</h3>

                <small>fecha_proceso_actual</small>

            </div>

        </div>

        <div class="admision">

            <h3>N° Admisión</h3>

            <small>id_admision</small>

            <hr>

            <h4>Oficina de admisiones</h4>

            <p><i class="fa-solid fa-envelope"></i> correo_oficina_admisiones</p>

            <p><i class="fa-solid fa-phone"></i> tel_admisiones</p>

        </div>

    </section>

    <section class="contenido">

        <div class="timeline">

            <h2>Línea de tiempo</h2>

            <ul>

                <li class="done">
                    <strong>Aplicación Enviada</strong>
                    <span>Tu aplicación ha sido recibida</span>
                </li>

                <li class="done">
                    <strong>Verificación de documentos</strong>
                    <span>Estamos revisando tus documentos</span>
                </li>

                <li class="active">
                    <strong>Revisión académica</strong>
                    <span>Comité de admisiones está viendo tu perfil</span>
                </li>

                <li>
                    <strong>Decisión final</strong>
                    <span>Tu aplicación ha sido recibida</span>
                </li>

                <li>
                    <strong>Confirmación de inscripción</strong>
                    <span>Confirma tu inscripción</span>
                </li>

            </ul>

        </div>

        <div class="documentos">

            <h2>Documentos y requisitos</h2>

            <small>N° de N° documentos pre-verificados</small>

            <div class="doc aprobado">
                <i class="fa-solid fa-file"></i>
                <span>Cédula / Tarjeta de identidad</span>
                <i class="fa-solid fa-circle-check"></i>
            </div>

            <div class="doc aprobado">
                <i class="fa-solid fa-file"></i>
                <span>Acta de grado</span>
                <i class="fa-solid fa-circle-check"></i>
            </div>

            <div class="doc rechazado">
                <i class="fa-solid fa-file"></i>
                <span>Resultado ICFES</span>
                <i class="fa-solid fa-circle-xmark"></i>
            </div>

        </div>

    </section>

</div>

</body>
</html>